---
layout: default
title: Home
---

.inner
  %h1.text-center
    .row-fluid
      .span12
        .address 600 Clark Street Studio 3
        .hours Open Mon-Thurs 10am to 5pm

  .row-fluid
    .span12

      %h2.text-center
        What is Prospect.rs?

      %p.text-center.attn
        Prospect.rs is a shared workspace where questions, answers, ideas, play, and work flow freely. We provide
        desk space, wifi, and basic office supplies and hope to build a collaborative community where everyone
        benefits.

      .divider

  .row-fluid

    .span4

      %img{ src: "{% asset_path placeholder.jpg %}" }

      %h3
        This is a pic title that can run two lines

      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat.

    .span4

      %img{ src: "{% asset_path placeholder.jpg %}" }

      %h3
        This is a pic title that can run two lines

      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat.

    .span4

      %img{ src: "{% asset_path placeholder.jpg %}" }

      %h3
        This is a pic title that can run two lines

      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat.

  .row-fluid
    .span12
      .divider

  .row-fluid

    .span6
      %h3.attn
        {{ site.posts.first.title }}

      %p {{ site.posts.first.excerpt }}

      %p
        %a.more{ href: "{{ site.posts.first.url }}" } Read More

      .divider.scrunched

    .span6

      .event
        %h3
          %a( href="#" ) Night Mining
        .date
          .month Aug
          .day 7
        .additional_info 6:00pm

      .event
        %h3
          %a( href="#" ) Game Night
        .date
          .month Aug
          .day 15
        .additional_info 6:00pm Town Hall

      .event
        %h3
          %a( href="#" ) Night Mining
        .date
          .month Aug
          .day 17
        .additional_info 6:00pm

      .event
        %h3
          %a( href="#" ) Night Mining
        .date
          .month Aug
          .day 21
        .additional_info 6:00pm

      .event
        %h3
          %a( href="#" ) Miner's Lunch
        .date
          .month Aug
          .day 27
        .additional_info 6:00pm Town Hall

      .event
        %h3
          %a( href="#" ) Night Mining
        .date
          .month Aug
          .day 29
        .additional_info 6:00pm

      .event
        %h3
          %a( href="#" ) Minecraft LAN Party
        .date
          .month Aug
          .day 30
        .additional_info 6:00pm

      .divider.scrunched
