---
layout: default
title: Home
---

.inner
  %h1.text-center
    .row-fluid
      .span12
        .address 600 Clark Street Studio 3
        .hours Open Mon-Thurs 10am to 6pm

  .row-fluid
    .span12

      %h2.text-center
        What is Prospect.rs?

      %p.text-center.attn
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat.

      .divider

  .row-fluid

    .span4

      %img{ src: "{% asset_path placeholder.jpg %}" }

      %h3
        This is a pic title that can run two lines

      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat.

    .span4

      %img{ src: "{% asset_path placeholder.jpg %}" }

      %h3
        This is a pic title that can run two lines

      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat.

    .span4

      %img{ src: "{% asset_path placeholder.jpg %}" }

      %h3
        This is a pic title that can run two lines

      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat.

  .row-fluid
    .span12
      .divider

  .row-fluid

    .span6
      %h3.attn
        {{ site.posts.first.title }}

      %p {{ site.posts.first.excerpt }}

      %p
        %a.more{ href: "{{ site.posts.first.url }}" } Read More

      .divider.scrunched

    .span6

      .event
        %h3
          %a( href="#" ) This is an event title than can run two lines
        .date
          .month May
          .day 29
        .additional_info 6:00pm Town Hall

      .event
        %h3
          %a( href="#" ) This is an event title than can run two lines
        .date
          .month May
          .day 29
        .additional_info 6:00pm Town Hall

      .event
        %h3
          %a( href="#" ) This is an event title than can run two lines
        .date
          .month May
          .day 29
        .additional_info 6:00pm Town Hall

      .event
        %h3
          %a( href="#" ) This is an event title than can run two lines
        .date
          .month May
          .day 29
        .additional_info 6:00pm Town Hall

      .event
        %h3
          %a( href="#" ) This is an event title than can run two lines
        .date
          .month May
          .day 29
        .additional_info 6:00pm Town Hall

      .divider.scrunched
