!!! 5
%html{ lang: 'en' }

  %head
    %meta{ charset: 'utf-8' }
    %title Prospect.rs - {{ page.title }}
    {% stylesheet application %}
    {% include typekit.html %}

  %body

    %header.text-center
      .inner
        .row-fluid
          .span12
            {% include header.html %}

            %section.feature
              Coworking
              %br
              With A View

    %section.main_content
      {{ content }}

    {% include footer.html %}
