!!! 5
%html{ lang: 'en' }

  %head
    %meta{ charset: 'utf-8' }
    %title Prospect.rs - {{ page.title }}
    {% stylesheet application %}
    {% include typekit.html %}

  %body

    %header.text-center
      .inner
        .row-fluid
          .span12
            {% include header.html %}

    %section.main_content
      .inner

        %h1.text-center
          .row-fluid
            .span12
              {{ page.title }}

        .row-fluid
          {{ content }}

        .row-fluid
          .span12
            .divider

            %h3 Upcoming Events
            %br

        .row-fluid
          .span6

            .event
              %h3
                %a( href="#" ) This is an event title than can run two lines
              .date
                .month May
                .day 29
              .additional_info 6:00pm Town Hall

            .event
              %h3
                %a( href="#" ) This is an event title than can run two lines
              .date
                .month May
                .day 29
              .additional_info 6:00pm Town Hall

          .span6

            .event
              %h3
                %a( href="#" ) This is an event title than can run two lines
              .date
                .month May
                .day 29
              .additional_info 6:00pm Town Hall

            .event
              %h3
                %a( href="#" ) This is an event title than can run two lines
              .date
                .month May
                .day 29
              .additional_info 6:00pm Town Hall

        .row-fluid
          .span12
            .divider

    {% include footer.html %}
