//= require bootstrap
//= require bootstrap-overrides

body
  color: #4E2800

a
  color: #ED5200

  &:hover
    text-decoration: none
    color: #4E2800

.divider
  background: transparent url("/assets/divider.png") top center no-repeat
  height: 15px

  &.scrunched
    width: 185px
    margin-left: auto
    margin-right: auto

header

  h1
    a
      background: transparent url("/assets/prospectrs-logo.png") top left no-repeat
      display: block
      text-indent: -100000px
      overflow: hidden
      width: 520px
      height: 255px
      margin: 61px auto 31px auto

  nav
    text-align: center
    border-top: 1px solid #BCA588
    border-bottom: 1px solid #BCA588

    a
      display: inline-block
      padding: 12px
      text-transform: uppercase
      color: #645047
      font-size: 20px
      font-weight: bold
      line-height: 1em

      &.active
        color: #ED5200
    
section.main_content

  h1
    background: #7D360C
    color: #EDE0D8
    text-transform: uppercase
    padding: 20px 0
    margin: 0

  h2
    color: #ED5200
    text-transform: uppercase

  h3
    text-transform: uppercase
    
footer
  background: #4E2800
  border-top: 20px solid #ED5200
  color: #ED5200
  font-weight: bold
  text-transform: uppercase
