!!! 5
%html( lang="en" )

  %head
    %meta( charset="utf-8" )
    %title Prospect.rs
    = stylesheet_link_tag :application
    %script{ :type => "text/javascript", :src => "//use.typekit.net/obe2qjo.js" }
    :javascript
      try{Typekit.load();}catch(e){}

  %body
    
    %header.text-center
      .inner
        .row-fluid
          .span12

            %h1
              %a( href="#" ) Prospect.rs - Est. 2013 - Jerome, AZ
      
            %nav
              %a( href="#" ) Photos
              %a.active( href="#" ) Services
              %a( href="#" ) Location
              %a( href="#" ) Events
              %a( href="#" ) Blog
              %a( href="#" ) Newsletter
              %a( href="#" ) Links
      
            %section.feature
              Work for
              %br
              yourself
              %br
              not by
              %br
              yourself
    
    %section.main_content
      .inner

        %h1.text-center
          .row-fluid
            .span12
              .address 600 Clark Street, Jerome, AZ. Studio 3
              .hours Open Mon-Thurs 10am to 6pm
        
        .row-fluid
          .span12

            %h2.text-center
              What is Prospect.rs?

            %p.text-center
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex ea commodo consequat.
        
            .divider

        .row-fluid

          .span4
            
            = "<some image here>"

            %h3 
              This is a pic title that can run two lines

            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex ea commodo consequat.

          .span4
            
            = "<some image here>"

            %h3 
              This is a pic title that can run two lines

            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex ea commodo consequat.

          .span4
            
            = "<some image here>"

            %h3 
              This is a pic title that can run two lines

            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex ea commodo consequat.

        .row-fluid
          .span12
            .divider

        .row-fluid

          .span6

            %h3.attn
              This is a blog post title and it should be able to run as many
              lines as it likes

            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex ea commodo consequat.

            %p
              %a.more( href="#" ) Read More

            .divider.scrunched

          .span6

            .event
              %h3 This is an event title than can run two lines
              .date May 29
              .additional_info 6:00pm Town Hall

            .event
              %h3 This is an event title than can run two lines
              .date May 29
              .additional_info 6:00pm Town Hall

            .event
              %h3 This is an event title than can run two lines
              .date May 29
              .additional_info 6:00pm Town Hall

            .event
              %h3 This is an event title than can run two lines
              .date May 29
              .additional_info 6:00pm Town Hall

            .event
              %h3 This is an event title than can run two lines
              .date May 29
              .additional_info 6:00pm Town Hall

            .divider.scrunched

    %footer.text-center

      .row-fluid
        .span12
          .hours Open Every Weekday From 10am to 6pm
